spanning-tree mode rapid-pvst
spanning-tree vlan {{ vlan_number }} priority 16384


vlan {{ vlan_number }}
name {{ vlan_name }}

int vlan {{ vlan_number }}
description {{ vlan_name }}
ip address {{ vlan_net }}.3 {{ vlan_mask }}
standby {{ vlan_number }} priority 101
standby {{ vlan_number }} ip {{ vlan_net }}.1
no shut
